.Modal {
  width: 70vw;
  height: 60vh !important;
  opacity: 1;
  z-index: 20 !important;
  position: fixed;
  top: 15vh;
  left: 15vw;
  transition: 0.4s ease all;
}
@media screen and (max-width: 500px) {
  .Modal {
    width: 80vw;
    left: 10vw;
  }
}
