.Banner {
  background-image: url("../assets/images/train.png");
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 5%;
  background-repeat: no-repeat;
}
.BookTicket {
  background: #0b0743;
  border-radius: 15px;
  width: 40%;
  padding: 15px;
}
.From {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 30px 0;
}
.From > .Dropdown {
  width: 55%;
}
.From > .DatePicker {
  width: 35%;
}
.BookTicket input,
.BookTicket select {
  padding: 7.5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.BigNews {
  background-image: url("../assets/images/banner.png");
  width: 80%;
  margin: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background-position: cover;
  padding: 5%;
}
.BigNews > h1 {
  margin: 0.5rem;
  color: white;
}
.DropdownContainer {
  width: 65%;
}
.DropdownTitle {
  background-color: white;
  padding: 10px 15px;
  border-radius: 7.5px;
  cursor: pointer;
}
.ButtonContainer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.News {
  display: flex;
  justify-content: space-around;
}
.NewsItem {
  width: 26%;
  background: #0b0743;
  border-radius: 9px;
  color: white;
}
.NewsItemContent {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NewsItemContent > p {
  margin-bottom: 30px;
}
.Dropdown {
  padding: 10px;
}
.Dropdown > p {
  margin: 0;
  margin-bottom: 5px;
}
.Dropdown > select {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #0b0743;
}
@media screen and (max-width: 780px) {
  .BookTicket {
    width: 60%;
  }
  .Banner {
    height: 500px;
  }
  .News {
    flex-wrap: wrap;
  }
  .NewsItem {
    width: 45%;
    margin-bottom: 50px;
  }
}
.ModalContainer {
  background-color: white;
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
}
.TimeSelect {
  display: flex;
}
.TimeSelectLeft {
  flex: 1;
}
.TimeSelectRight {
  width: 30%;
  padding: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
}
.TimeSelectRight > select {
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 15px;
}
.IterButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.PaymentForm {
  width: 60%;
}
.PaymentForm input {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .BookTicket {
    width: 100%;
  }
  .News {
    flex-direction: column;
    padding: 0 5%;
  }
  .NewsItem {
    width: 100%;
  }
}
